<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412665086704-bg7p28jnbhdq0h3at949ujuitmm1acsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412665086704-bg7p28jnbhdq0h3at949ujuitmm1acsc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412665086704-kvmi63r06ok2r6mt2nuashrlq5g1pg5u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDebzuZSPSRQNyVcoVtg-ba45aYctzvVGs</string>
	<key>GCM_SENDER_ID</key>
	<string>412665086704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pf.FundLifter</string>
	<key>PROJECT_ID</key>
	<string>ql-magnushyttsten</string>
	<key>STORAGE_BUCKET</key>
	<string>ql-magnushyttsten.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412665086704:ios:f8dc379910847bdf36b835</string>
	<key>DATABASE_URL</key>
	<string>https://ql-magnushyttsten.firebaseio.com</string>
</dict>
</plist>